* {
	text-align: center;
	font-size:18px;
	color:black;
}

body {
	background: linear-gradient(-45deg, #dd6a1c, #e0b090);
}

p {
	font-family: 'Arial';
}

h1 {text-align: center;}

div {text-align: center;}

.floating {
	float: left;
	width: 33%;
}
